#app{
  border: 1px solid gray;
  margin: auto;
  padding: 10px;
  position: relative;
  height: 85vh ;
  width: 90vw ;
  min-width: 500px;
  min-height: 500px;
  overflow: hidden;
}

.item-low,
.item-med,
.item-high {
  position: absolute;
}
