body{
  margin: 0px;
  background-image: url("doodlegrid2.png");
  background-repeat: repeat;
  height: 100vh;
  min-height: 500px;
  min-width: 360px;
  text-align: center;
}

#app{
  position: relative;
  height: 100%;
  width: 100%;
  /*min-width: 500px;
  min-height: 500px;*/
  overflow: hidden;
}

.item-low,
.item-med,
.item-high {
  position: absolute;
}

#item-maker{
  display: inline-block;
}

.start-button{
  /*line-height: 100vh;*/
  display: inline-block;
  text-decoration: none;
  color: #f30f36;
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
}

.exit-button{
  display: inline-block;
  float: right;
  font-family: 'Amatic SC', cursive;
  color: #03a9f4;
  font-size: 3em;
  padding-right: 10px;
  text-decoration: none;
}

#currentScore{
  margin: 0 auto;
  display: inline-block;
  float: left;
  font-family: 'Amatic SC', cursive;
  color: #f30f36;
  font-size: 3em;
  margin-left: 10px;
}

.showTime{
  display: inline-block;
  font-size: 1.3em;
  font-family: 'Amatic SC', cursive;
  padding-top: 10px;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.time{
  font-size: 2.5em;
  margin-top: -5px;
}

#cartArea{
  display: inline-block;
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.outsidecart{
  height: 50px;
  padding: 20px 60px;
  background-color: #ffeb3b;
}

.insidecart img{
  transform:scale(1.15,1.15);
}

.recent-score{
  font-size: 3em;
  font-family: 'Amatic SC', cursive;
  padding-top: 10px;
  font-weight: bold;
}

.start-point{
  position: relative;
  top: 47%;
  transform: translateY(-53%);
}
