body{
  margin: 0px;
  background-image: url("doodlegrid2.png");
  background-repeat: repeat;
  height: 100vh;
  min-height: 500px;
  min-width: 360px;
}

#app{
  margin: auto;
  position: relative;
  height: 100%;
  width: 100%;
  /*min-width: 500px;
  min-height: 500px;*/
  overflow: hidden;
  text-align: center;
}

.item-low,
.item-med,
.item-high {
  position: absolute;
}

#item-maker{
  display: inline-block;
}

#item-maker{
  display: inline-block;
}

.start-button{
  line-height: 100vh;
  text-decoration: none;
  color: #f30f36;
  font-family: 'Amatic SC', cursive;
  font-size: 6em;
  padding: 0 15px;
}

.exit-button{
  display: inline-block;
  float: right;
  font-family: 'Amatic SC', cursive;
  color: #f30f36;
  font-size: 3em;
  padding-right: 10px;
  text-decoration: none;
}

#currentScore{
  display: inline-block;
  float: left;
  margin: 15px;
}

#timer{
  display: inline-block;
  margin: 15px;
}

#cartArea{
  width: 100%;
  height: 90px;
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  background-color: #ffeb3b;
}

.outsidecart{
  height: 50px;
  padding: 20px;
}

.insidecart img{
  height: 60px;
  padding: 15px;
}
